@font-face {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: normal;
    src: local('Georgia'), url(./font/Georgia.ttf) format('ttf');
}

@font-face {
    font-family: 'Bauhaus';
    font-style: normal;
    font-weight: normal;
    src: local('Bauhaus'), url(./font/Bauhaus-Regular.ttf) format('ttf');
}

* {
    font-family: "Georgia";
}

a, h2 {
    color: #0a3685 !important;
}

blockquote p {
    font-family: Arial;
    font-size: 24px;
}

.navbar-header a {
    color: #aeaeae !important;   
}

.navbar-default .navbar-nav>li>a {
    color: #777 !important;
}

.dbehave-description {
    padding: 40px;
    font-size: 22px;
}

.jumbotron-blue {
    background: #233982;
    margin-bottom: 0px !important;
    padding: 0px 0px 50px 0px !important;    
}

.jumbotron-blue *, .jumbotron-blue h2 {
    color: #fff !important;
}

.footer a {
    font-weight: bold;
}

.dbahave-icon {
    font-size: 150px !important;
    color: #233982;
}

.dbahave-icon-text {
    font-family: Arial;
    color: #233982;
    font-size: 16px;
    font-weight: 600;
}

.margin-botton-20 {
    margin-bottom: 20px;
}

.margin-botton-30 {
    margin-bottom: 30px;
}

.margin-botton-40 {
    margin-bottom: 40px;
}

.carousel-control.left, .carousel-control.right {
    background: none !important;
}

.carousel-indicators {
    bottom: -30px;
}

.footer {
    margin-bottom: 20px;

}

/* Gib Hub */
.github li {
    text-align: -webkit-match-parent;
    width: 89px;    
    border-right: 1px solid #d2d2d2;
    height: 40px;
}

.github ul {
    list-style: none;
    margin-top: 5px;
}

.github ul a {
    line-height: 1;
    display: block;
    text-align: center;
    padding-top: 6px;
    height: 40px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;

    padding: 6px 0px 0px 0px;
}

.github ul {
    list-style: none;
    height: 40px;
    padding: 0;
    background: #eee;
    background: -moz-linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#dddddd));
    background: -webkit-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
    background: -o-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
    background: -ms-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
    background: linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
    border-radius: 5px;
    border: 1px solid #d2d2d2;
    box-shadow: inset #fff 0 1px 0, inset rgba(0,0,0,0.03) 0 -1px 0;
    width: 270px;
}

.github ul li + li + li {
    border-right: none;
    width: 89px;
}
.github ul li + li {
    width: 88px;
    border-left: 1px solid #fff;
}

.github ul a strong {
    display: block;
    color: #222;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

pre {
    font-size: 12px !important;
}

.links {
    font-size: 18px;
    line-height: 30px;
}

.links ul {
    list-style: disc;
    color: #0a3685;
}

.support-icon {
    margin-right: 10px;   
}

blockquote {
    border: none;
    margin-top: 40px;
}